body{
	width:600px;
	margin:0 auto;
}
h1, h2, h3, h4, h5, h6 {
	color: #181818;
	font-family: "Helvetica", "Arial", "sans-serif";
	font-weight: normal;
}
hr {
	border: solid #DC143C;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 30px;
	height: 0;
}
hr.medium {
	border-width: 5px 0 0;
}
a, a:visited{
	color: #333;
	text-decoration: none;
	outline: 0;
}
input[type="text"], input[type="password"], input[type="email"], textarea, select{
	width: 150px;
}
input[type="text"].small, input[type="password"].small, input[type="email"].small, textarea.small, select.small{
	width: 90px;
}
#overall-gpa{ font-weight: bold; }
.red{ border: 1px solid red; }
.green{ border: 1px solid green; }
.message{ border: 1px solid #ccc; background-color: #eee; border-radius: 5px;}