/*HTML Vertical Lengend*/

h3 {
    margin-top: 15px;
}
.country-name {
    margin: 0 !important;
}

.key-dot {
    display: inline-block;
    height: 10px;
    margin-right: .5em;
    width: 10px;
}

.legend {
    margin-right:20px;
}

.albDegree { background: #1F77B4;}
.Courses { background: #FF7F0E;}
.retiredCert { background: #9467BD;}
.certInterest { background: #D62728;}
.albInterest { background: #E377C2;}
.almInterest { background: #8C564B;}
.pmpCandidate { background: #7F7F7F;}
.pmpCandidate { background: #BCBD22;}
.totalEnrl { background: #17BECF;}
.almCandidate { background: #2CA02C;
}

/*HTML Horizonal Legend*/
.country-name {
    margin: 0 !important;
}
.key-dot {
    display: inline-block;
    height: 10px;
    margin-right: .5em;
    width: 10px;
}

.uk { background: #1F77B4;}
.denmark { background: #FF7F0E;}
.germany { background: #2CA02C;
}

#legend2{
    overflow:hidden;
}
.legend2 {
    float:left;
    margin-right: 1em;
}

/*D3 Vertical Legend*/

/*D3 Horizonal Legend2*/
.legends5 {
    float:left;
    margin-right: 1em;
}
/*D3 Horizonal Legend3*/
.legends6{
    float:left;
    margin-right:1em;
}
/*D3 Reusable Legend3*/
 .legends7 {
    float:left;
    margin-right:1em;
}